<div class="technical-stock-main-div">
  <div #modal class="modal">
    <div class="modal-dialog modal-dialog-centered modal-lg" role="document">
      <div class="modal-content">
        <div class="modal-body" [ngClass]="modalClassType()">
          {{ modalBody }}
        </div>
        <div class="modal-footer">
          <button *ngIf="stockToRemove" type="button" class="btn btn-outline-secondary" (click)="afterRemoveAlert()" data-dismiss="modal">
            Cancel
          </button>
          <button *ngIf="stockToRemove" type="button" class="btn btn-danger" (click)="onRemoveConfirmationClicked()" data-dismiss="modal">
            Remove
          </button>
          <button *ngIf="!stockToRemove" type="button" class="btn btn-outline-secondary" (click)="closeModal()" data-dismiss="modal">
            Close
          </button>
        </div>
      </div>
    </div>
  </div>

  <table *ngIf="!serverError; else error" class="table table-bordered table-secondary">
    <thead class="table-dark">
      <tr>
        <th *ngFor="let header of tableHeaders">{{ header | titlecase }}</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let stock of technicallyValidStocks">
        <th>{{ stock.symbol }}</th>
        <th>{{ stock.name }}</th>
        <th>
          <div class="pivot-div">
            <input #pivotInput type="text" class="form-control" placeholder="Enter pivot..." [(ngModel)]="stock.pivot" [disabled]="true">
            <button type="button" class="btn btn-primary" (click)="onUpdateClicked(pivotInput, stock.symbol)">
              Change
            </button>
            <button type="button" class="btn btn-success" [disabled]="isSaveDisabled(stock.symbol, pivotInput)" (click)="onSaveClicked(stock.symbol, pivotInput)">
              Save
            </button>
            <button type="button" class="btn btn-secondary" [disabled]="isCancelDisabled(pivotInput)" (click)="onCancelClicked(stock.symbol, pivotInput)">
              Cancel
            </button>
            <button type="button" class="btn btn-danger" (click)="onRemoveClicked(stock.symbol)">
              Remove
            </button>
          </div>
        </th>
        <th>
          <a href="{{stockChartsUrl + stock.symbol}}" target="_blank">
            <svg width="1.5em" height="1.5em" viewBox="0 0 16 16" class="bi bi-graph-up" fill="currentColor" xmlns="http://www.w3.org/2000/svg">
              <path fill-rule="evenodd" d="M0 0h1v15h15v1H0V0zm10 3.5a.5.5 0 0 1 .5-.5h4a.5.5 0 0 1 .5.5v4a.5.5 0 0 1-1 0V4.9l-3.613 4.417a.5.5 0 0 1-.74.037L7.06 6.767l-3.656 5.027a.5.5 0 0 1-.808-.588l4-5.5a.5.5 0 0 1 .758-.06l2.609 2.61L13.445 4H10.5a.5.5 0 0 1-.5-.5z"/>
            </svg>
          </a>
        </th>
      </tr>
    </tbody>
  </table>

  <ng-template #error>
    <div class="alert alert-danger error" role="alert">
      Oops...<br/>An error occured while making an HTTP call to the server.<br/>
      Please try again by clicking <span class="retry" (click)="getTechnicallyValidStocks()">here</span>
    </div>
  </ng-template>

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-climbing-dot" [fullScreen] = "true">
    <p class="spinner">{{ spinnerText }}</p>
  </ngx-spinner>
</div>
