<table class="table table-bordered table-secondary" style="margin-top: 20px;">
  <thead class="table-dark">
    <tr>
      <th *ngFor="let header of tableHeaders">{{ header }}</th>
    </tr>
  </thead>
  <tbody>
    <tr *ngFor="let nasdaqEntry of nasdaqEntries">
      <th scope="row">
        {{ nasdaqEntry.date | date:'dd-MM-yyyy' }}
      </th>
      <th scope="row">
        {{ nasdaqEntry.ma3 }}
      </th>
      <th scope="row" [ngStyle]="{'color': (nasdaqEntry.ma3Change > 0) ? 'green' : 'red'}">
        {{ nasdaqEntry.ma3Change }}%
      </th>
      <th scope="row">
        {{ nasdaqEntry.ma7 }}
      </th>
      <th scope="row" [ngStyle]="{'color': (nasdaqEntry.ma7Change > 0) ? 'green' : 'red'}">
        {{ nasdaqEntry.ma7Change }}%
      </th>
      <ng-container
        *ngIf="nasdaqEntry.isBuyMarket; then buy; else hold">
      </ng-container>

      <ng-template #buy>
        <th class="marketStatus" scope="row" style="color: white; background-color: green; opacity: 0.7;">
          BUY
        </th>
      </ng-template>

      <ng-template #hold>
        <th class="marketStatus" style="color: white; background-color: red; opacity: 0.755;">
          HOLD
        </th>
      </ng-template>
    </tr>
  </tbody>
</table>
