<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
  <ul class="navbar-nav mr-auto">
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/home">Home</a>
    </li>
    <li class="nav-item" routerLinkActive="active">
      <a class="nav-link" routerLink="/nasdaq">Nasdaq composite</a>
    </li>
    <li class="nav-item dropdown d-inline-block" ngbDropdown>
      <a ngbDropdownToggle class="nav-link" id="dropdownBasic1" routerLinkActive="active">Stocks processing</a>
      <div ngbDropdownMenu aria-labelledby="dropdownBasic1">
        <button ngbDropdownItem>Scrapper</button>
        <button ngbDropdownItem>Rater</button>
        <button ngbDropdownItem routerLink="/technically-valid" routerLinkActive="active">Technically valid</button>
      </div>
    </li>
  </ul>
</nav>
