<div class="text-center">
  <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <h1 class="navbar-brand" href="#">Nasdaq Composite</h1>
  </nav>

  <app-nasdaq-dates-bar (sendDates)="getNasdaqInfoByDates($event)"></app-nasdaq-dates-bar>

  <app-nasdaq-sma-list [nasdaqEntries]="nasdaqEntries"></app-nasdaq-sma-list>

  <ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "large" color = "#fff" type = "ball-climbing-dot" [fullScreen] = "true">
      <p style="color: white" > Loading... </p>
  </ngx-spinner>
</div>
